name: CI/CD - Payment Service

on:
  push:
    paths:
      - 'payment-service/**'
  pull_request:
    paths:
      - 'payment-service/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - run: mvn -pl payment-service -am clean package -DskipTests
      - run: mvn test -pl payment-service
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: payment-service/Dockerfile
          push: true
          tags: harshvardhansingh7/ecommerce-microservices:payment-service-latest
